body {
  background-color: rgb(74, 9, 90);
  color: blanchedalmond;
  
}
h1 {
  text-decoration: underline;
  text-align: center;

}
.btn {
  color: rgb(205, 172, 231);
  font-style: normal;
  font-weight: bold;
}

#add{
  float: left;
  height: 300px;
  width: 200px;
  background-color: rgb(143, 55, 194);
  border-style: double; border-color: blanchedalmond;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
}

#subtract {
  float: left;
  height: 300px;
  width: 200px;
  background-color: rgb(143, 55, 194);
  border-style: double; border-color: blanchedalmond;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
}

#multiply {
  float: right;
  height: 300px;
  width: 200px;
  background-color: rgb(143, 55, 194);
  border-style: double; border-color: blanchedalmond;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
}

#divide {
  float: right;
  height: 300px;
  width: 200px;
  background-color: rgb(143, 55, 194);
  border-style: double; border-color: blanchedalmond;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
}